.navbar{
    background:#260e08;
    
   
}
.link{
  color: #fcba03;
    font-size: 30px;
}
.link:hover{
    color:#fc3503;
}

.auto{
    text-align: right;
    padding:20px;
    font-size:20px;
    text-transform: uppercase;
    color:#fcba03;
}
.auto:hover{
    color:#fc3503;
}
