.container-fluid{
    background:#260e08;
   
}
.link{
  
    font-size: 30px;
}
.link:hover{
    color:#f56342;
}
.me-auto{
    color:aliceblue
}
.auto{
    text-align: right;
    padding:20px;
    font-size:20px;
    text-transform: uppercase;
}
.auto:hover{
    color:#f56342;
}
